body {
    background-color: gainsboro;
    max-width: 80%;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.botoes {
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 10px;
}